/* GLOBAL */
html,
body {
    font-family: 'Nunito', sans-serif;
    color: black;
}

body {
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-button {
    display: inline-block;
    line-height: 52px;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-color: #dc4f72;
    color: #dc4f72;
    transition: all .5s;
}

.theme-button:hover {
    background-color: #dc4f72;
    border-color: #dc4f72;
    color: white;
}

.title {
    max-width: 750px;
}

.title p:first-child {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.title h3 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.title p:last-child {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header.nav-fixed {
    padding: 0px;
    height: 70px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.navbar .navbar-brand {
    color: #dc4f72;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: -1px;
}

.navbar .navbar-brand:hover {
    color: #dc4f72;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.nav-tabs .nav-link.active {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
    position: relative;
    text-transform: capitalize;
    transition: all .5s;
    font-size: 16px;
    font-weight: 400;
    color: #2c3038;
    display: block;
    width: 100%;
}

.nav-link::before,
.dropdown-item::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #dc4f72;
    bottom: 7px;
    transition: all .5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.dropdown-menu .dropdown-item:hover {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link:hover::before,
.dropdown-item:hover::before {
    width: 20px;
}

.nav-item .nav-link i {
    font-size: 10px;
    transform: translateY(-2px);
}

.dropdown-menu {
    border-radius: 6px;
    min-width: 11rem;
    padding: 1rem 0 .3rem;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    padding: 1rem 0;
    transform: translateX(-25%);
}

.dropdown-menu::before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1;
}

.navbar .navbar-toggler{
    background-color:#ff4f81;
    color: white;
}

.fa-bars{
    display: block;
}
.fa-x{
    display: none;
}
.showDetails .fa-bars{
    display: none;
}
.showDetails .fa-x{
    display: block;
}
/* CAOURSEL */
.carousel {
    margin-top: 90px;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.carousel__left h3 {
    font-size: 50px;
    line-height: 55px;
    color: #2c3038;
    font-weight: 700;
}

.carousel__left p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #5a5a5a;
    max-width: 450px;
}

.carousel__left a {
    width: 30%;
    margin-top: 48px;
}

/* ABOUT */
.about {
    background-color: #f7f9fc;
}

.about .grid {
    display: flex;
    padding-top: 100px;
}

.about__left {
    text-align: left;
    width: 70%;
    margin-right: 80px;
}

.about__left p:first-of-type {
    font-size: 16px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.about__left h3 {
    font-size: 35px;
    line-height: 40px;
    color: #2c3038;
    font-weight: 700;
    padding-bottom: 20px;
}

.about__left p:last-of-type {
    font-size: 16px;
    color: #5a5a5a;
    padding-bottom: 30px;
}

.about__left button {
    font-size: 14px;
    font-weight: 700;
    background-color: #dc4f72;
    border-color: #dc4f72;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    display: inline-block;
    border: 1px solid transparent;
    color: #ffffff;
}

.about__left button:hover {
    background-color: #d62f58;
    border-color: #cf2952;
}

.about__left button:focus {
    box-shadow: 0 0 0 0.2rem rgb(225, 105, 135, 0.5);
    border-color: #cf2952;
    color: #fff;
    background-color: #d62f58;
    outline: none;
}

.about__left a {
    color: #fff;
    text-decoration: none;
    border: none;
    border: 1px solid transparent;
}

.about__right img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.about__right:hover img {
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.15);
}

/* NUMBERS */
.numbers {
    background-color: #f7f9fc;
}

.numbers .info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #2c3038;
    font-weight: 700;
}

.numbers p.counter {
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    font-weight: 800;
    margin-bottom: 15px;
    margin-top: 10px;
}

.numbers .info {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    transition: .3s ease;
    border: 1px solid #eee;
    transition: all .5s;
}

.numbers .info p:last-child {
    margin: 0px;
    padding: 0px;
    color: #5a5a5a;
    font-size: 15px;
}

.numbers .info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

/* TOOLS */
.tools__item {
    padding: 3rem 2rem;
    border-radius: 6px;
    background-color: #f7f9fc;
    border: 1px solid #f7f9fc;
    cursor: pointer;
    transition: all .5s;
}

.tools__item h3 {
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    color: #2c3038;
}

.tools__item p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
    color: #5a5a5a;
}

.tools__item:hover {
    transform: translateY(-30px);
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

/* SOLUTIONS */
.solutions__item {
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #fff;
    transition: all .8s;
    display: block;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.solutions__heading {
    width: 100%;
    position: relative;
}

.solutions__heading img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    filter: grayscale(1);
    transition: all .8s;
}

.solutions__heading p {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    background-color: #dc4f72;
    position: absolute;
    right: 0;
    top: 0;
}

.solutions__blog {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.solutions__blog .tag-label {
    /* position: absolute; */
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 1.2em;
    width: 26%;
    text-align: center;
}

.solutions__blog .tag-label.red {
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}

.solutions__blog .tag-label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.solutions__blog .tag-label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.solutions__blog h4 {
    font-size: 22px;
    line-height: 27px;
    color: #2c3038;
    display: block;
    font-weight: 700;
    transition: all .8s;
}

.solutions__blog p {
    line-height: 24.5px;
    color: #5a5a5a;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.solutions__blog a {
    color: #dc4f72;
    transition: all .5s;
    padding: 0;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-weight: 700;
}

.solutions__blog a i {
    font-size: 10px;
    transition: all .8s;
}

.solutions__blog a:hover {
    color: #dc4f72;
}

.solutions__item:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-20px);
}

.solutions__item:hover .solutions__heading img {
    filter: grayscale(0);
}

.solutions__item:hover .solutions__blog a i {
    transform: translateX(4px);
}

.solutions__item:hover .solutions__blog h4 {
    color: #dc4f72;
}

/* COMMIT */

.commit__title h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.commit__info p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.commit__info button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    padding: 0px 30px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
}

.commit__info:hover button {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.commit__info a {
    text-decoration: none;
    color: black;
}

.commit {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpeg);
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.commit__content {
    max-width: 550px;
}

/* QUESTIONS */
.questions__page {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.questions__page .img-curve {
    border-radius: 6px;
    transition: all .5s;
    height: 500px;
}

.questions__page .img-curve:hover {
    transform: translateY(-10px);
}

.questions__content ul {
    list-style-type: none;
}

.questions__content li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: 6px;
    background: #fff;
}

.questions__content li input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
}

.questions__content li i {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 16px;
    font-weight: 900;
    transition: all .5s;
}

.questions__content li h2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #2c3038;
}

.questions__content li p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    margin-top: 14px;
    margin-bottom: 0;
    z-index: 2;
    transition: all .5s;
}

.questions__content li input[type="checkbox"]:checked~p {
    margin-top: 0;
    height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    margin: 0;
}

.questions__content li input[type="checkbox"]:not(:checked)~i {
    transform: rotate(-180deg);
}

/* PROJECTS */
.projects__title h2 {
    font-weight: 700;
    font-size: 46px;
}

.projects__content .nav-item {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #4E5B61;
    background: #fff;
    border-bottom: 3px solid #eee;
}

.projects__content li:has(a.active) {
    border-bottom: 3px solid #d62f58;
}

.projects__content .nav-item a {
    list-style: none;
    outline: none;
    color: #4E5B61;
}

.nav-tabs .nav-link {
    border: none;
}

.project__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.project__img img {
    border-radius: 6px;
}

.project__img:hover img {
    transform: translateY(-10px);
    transition: all 0.5s;
}

.project__text h3 {
    color: #2c3038;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.project__text p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24.5px;
    color: #2c3038;
}

.project__text button {
    display: block;
    line-height: 52px;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: all .5s;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid transparent;
    outline: none;
    border-color: #d62f58;
    margin: 40px 0px;
}

.project__text a {
    text-decoration: none;
    color: #dc4f72;
}

.project__text button:hover {
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.project__text button:hover a {
    color: white;
}

/* TESTIMONIALS */
.testimonials {
    background-size: cover;
    background-image: linear-gradient(to right,
            rgba(247, 249, 252, 0.77),
            rgba(247, 249, 252, 0.77)),
        url(../img/testi.jpeg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.testimonials__content .testimonials__info {
    display: grid;
    gap: 50px;
    grid-template-columns: auto 1fr;
    background-color: #fff;
    border-radius: 6px;
    max-width: 95%;
    margin: 0 auto;
    padding: 1.5rem;
}

.img-circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #d62f58;
}

.img-circle img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.testimonials__info .text {
    position: relative;
}

.testimonials__info .text i {
    font-size: 35px;
    color: #2C3038;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    left: -40px;
}

.testimonials__info .text p {
    font-size: 18px;
    line-height: 26px;
    color: #2C3038;
}

.testimonials__info .name h4 {
    font-size: 18px;
    color: #dc4f72;
    font-weight: 400;
    margin: 0;
}

.testimonials__info .name p {
    font-size: 13px;
    color: #2C3038;
    margin: 0;
}

.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    border-radius: 0;
    margin: 20px 5px 5px 5px;
    background-color: #fff;
}

.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span {
    background-color: #dc4f72;
}

.owl-theme .owl-dots button:focus {
    outline: none;
}

/* READY */
.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

/* FOOTER */
footer .footer__main {
    background-color: #f7f9fc;
}

footer .footer__main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 700;
}

footer .footer__main h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 500;
}

footer .footer-gd-16 li {
    display: block;
    list-style: none;
    margin: 10px 0;
}

footer .footer-gd-16 li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}

footer .end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.footer__main form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.footer__main .subscribe input[type="email"] {
    background: #f7f9fc;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2c3038;
    font-weight: 700;
    border-radius: 6px;
}

.footer__main .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}

footer .below-section {
    border-top: 1px solid #eaeaea;
}

.footer__main h3 a:hover,
.footer__main .footer-gd-16 li a:hover,
.footer__main p a:hover {
    opacity: 0.8;
    color: #dc4f72;
}

a:hover {
    text-decoration: none;
}

.footer__main p a {
    color: #2c3038;
}

.footer__main p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}

.footer__main .social li {
    display: inline-block;
    margin-right: 5px;
}

.footer__main .social li a {
    color: #2c3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.footer__main .social li a i {
    font-size: 15px;
    line-height: 36px;
}

.footer__main .social li a:hover {
    color: #dc4f72;
    transition: all .5s;
}

.backToTop {
    width: 50px;
    height: 45px;
    line-height: 45px;

    background: #dc4f72;
    color: #fff;

    border: none;
    outline: none;
    cursor: pointer;

    text-align: center;
    display: block;
    padding: 0;


    position: fixed;
    bottom: 75px;
    right: 0px;
    z-index: 99;
    transition: all .5s;

    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: .7;
}

.backToTop:hover {
    color: #fff;
}


.btn:focus{
    box-shadow: none;
}
/* Light theme */
#myBody {
    box-shadow: none !important;
}

#switchButton {
    background-color: white;
    font-size: 25px;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}


/* Dark Theme*/
.dark#myBody {
    background-color: black;
}

.dark #switchButton {
    background-color: black;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .title h3{
    color: white;
}
.dark .title p:last-child{
    color:rgba(255, 255, 255, 0.4);
}
.dark header,
.dark header nav{
    background: black;
}

.dark .dropdown-menu{
    background: black;
    border: 1px solid #333;
}
.dark .dropdown-menu::before{
    background: black;
    border: 1px solid #333;
    border-bottom: none;
    border-right: none;
}

.dark .navbar-expand-lg .navbar-nav .nav-link, 
.dark .dropdown-menu .dropdown-item{
    color: white;
    background: black;
}

.dark .navbar-expand-lg .navbar-nav .nav-link:hover,
.dark .dropdown-menu .dropdown-item:hover{
    color: #dc4f72;
}

.dark .carousel{
    background-image: linear-gradient(to right, black, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
}
.dark .carousel__left h3{
    color: white;
}
.dark .carousel__left p{
    color:rgba(255, 255, 255, 0.4);
}

.dark .tools{
    background: #222;
}

.dark .tools__item{
    background: black;
    border: black;
}
.dark .tools__item h3{
    color: white;
}
.dark .tools__item p{
    color:rgba(255, 255, 255, 0.4);
}

.dark .about{
    background: black;
}

.dark .numbers{
    background: #222;
}
.dark .numbers .info{
    background:black;
    border: black;
}
.dark .numbers .info h4{
    color: white;
}
.dark .numbers .info p:last-child{
    color:rgba(255, 255, 255, 0.4);
}

.dark .commit__title h2{
    color:rgba(255, 255, 255, 0.6);
}
.dark .commit__info p{
    color:rgba(255, 255, 255, 0.6);
}

.dark .solutions__item{
    background-color: #222;
    border: #222;
}
.dark .solutions__blog{
    background-color: #222;
}
.dark .solutions__blog h4{
    color: white;
}
.dark .solutions__blog p{
    color:rgba(255, 255, 255, 0.4);
}

.dark .questions{
    background: #222;
}
.dark .questions__content li {
    background-color: black;
    border: black;
    color: white;
}
.dark .questions__content li h2{
    color: white;
}
.dark .questions__content li p{
    color:rgba(255, 255, 255, 0.4);
}

.dark .projects__content .nav-item{
    background: black;
    border-bottom-color:white;
}
.dark .projects__content .nav-item a{
    color: white;
}
.dark .projects__content .nav-item a.active{
    background: black;
    color:#d62f58;
}
.dark .projects__content li:has(a.active) {
    border-bottom: 3px solid #d62f58;
}
.dark .nav-tabs {
    border-bottom: none;
}
.dark .project__text h3{
    color: white;
}
.dark .project__text p{
    color:rgba(255, 255, 255, 0.4);
}
.dark .project__text button{
    border: none;
}

.dark .testimonials {
    background-image: linear-gradient(to right, black, rgba(247, 249, 252, 0.77)), url(../img/testi.jpeg);
}
.dark .testimonials__content .testimonials__info{
    background: black;
}
.dark .testimonials__info .text p{
    color: white;
}
.dark .testimonials__info .text i{
    color: white;
}

.dark footer .footer__main{
    background-color: #222;
}
.dark footer .footer__main h3{
    color: white;
}
.dark footer .footer-gd-16 li {
    color:rgba(255, 255, 255, 0.4);
}
.dark footer .end-column{
    background-color: black;
}
.dark .footer__main p a,
.dark footer .footer__main h4,
.dark .footer__main .social li a {
    color: white;
}
.dark .footer__main .social li a:hover,
.dark .footer__main p a:hover {
    opacity: 0.8;
    color: #dc4f72;
}


/****** RESPONSIVE ******/
@media screen and (max-width: 1199.98px){
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 14px;
    }

    .about__right img {
        width: 80%;
        height: 80%;
    }
}
@media screen and (max-width:991.98px){
    header.nav-fixed{
        height: 50px;
    }
    header .navbar .navbar-collapse {
        position: absolute;
        left: -10%;
        right: -10%;
        top: 100%;
        background-color: #fff;
        text-align: center;
    }
    header .navbar .navbar-collapse .nav-item {
        margin: 0 !important;
        width: 80%;
    }
    .mobile-position{
        position: absolute;
        right: 40px;
        top: 10px;
    }
    .navbar .navbar-collapse.show{
        display: flex;
        justify-content: center;
    }
    .navbar-nav .nav-item:last-child{
        padding: 10px 0;
    }
    .navbar-nav .dropdown-menu {
       transform: translateX(0px);
       text-align: center;
    }
    .navbar-nav .dropdown-menu .dropdown-item{
        margin: 0;
        width: auto;
    }
    .carousel__left a{
        margin: 0;
        padding: 0;
    }
    .about .grid{
        flex-flow: column;
    }
    .about__right{
        padding-top: 2rem;
    }
    .questions__page .img-curve{
        height: 400px;
    }
    .questions__content li{
        padding: 15px 30px 15px 5px;
    }
    .questions__content li i{
        top: 15px;
    }
    .questions__content li h2 {
        font-size:15px;
    }
    .questions__content li p{
        font-size: 12px;
        line-height: 20px;
    }
    footer .below-section {
        flex-flow: column;
    }
    .dark .navbar-collapse.show{
        background-color: black;
    }
}
@media screen and (max-width:767.98px){
    .title p {
        font-size: 12px;
    }
    .title h3 {
        font-size: 40px;
    }

    .questions__page .img-curve{
        height: 100%;
    }

    .projects__content .nav-item{
        font-size: 16px;
    }

    .dark .testimonials {
        background-image: linear-gradient(to right, black, rgba(247, 249, 252, 0.77)), url(../img/testi.jpeg);
    }
}
@media screen and (max-width:415px){
    .title p {
        font-size: 10px;
    }
    .title h3 {
        font-size: 35px;
    }

    .carousel__left h3{
        font-size: 30px;
        line-height: 40px;
    }
    .carousel__left p{
        font-size: 16px;
    }

    .testimonials__content .testimonials__info{
        grid-template-columns: 1fr;
        gap:30px;
        text-align: center;
    }
    .img-circle{
        margin: 0 auto;
    }
    .testimonials__info .text i{
        left: 0;
        right: 100%;
        font-size: 25px;
    }
    .projects__content .nav-item{
        font-size: 14px;
    }

    .footer__main .subscribe button {
        padding: 12px 10px;
    }
}

@media screen and (max-width: 320px){
    .title p {
        font-size: 8px;
    }
    .title h3 {
        font-size: 30px;
    }

    .ready__content .button a:first-child{
        margin-right: 0 !important;
    }
    .ready__content .button a:last-child{
        margin-top: 10px;
        margin-left: 0 !important;
    }
    
    .footer__main .subscribe button {
        text-align: center;
    }
}